doctype html
html
  head
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      link(rel='stylesheet', type="text/css", href='../css/main.css')

  body
    h1 Pug - node template engine
    .top
      header Nagłówek szablonu
      nav Menu nawigacyjne
      aside Dodatkowe informacje
      article Treść strony
      footer Stopka serwisu
      
    script(src='../js/main.min.js')
